body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(38, 35, 35);
    background-image: url(/images/bodyImg/BackImg.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
